In [27]:
import pandas as pd

In [ ]:
epi_data = pd.read_csv('Revisions_Omicron_Epistasis_with_single_std.csv',index_col = 0)
epi_data

,source_sequence,target_sequence,source_logits,target_logits,change,ratio,position,masked_change,masked_ratio,significant_masked_change_local,significant_masked_ratio_local,mutation,significant_masked_change,significant_masked_ratio,significant_masked_change_rounded,single_significant_masked_change
0,M,M,-0.000460,-0.000454,-0.000006,-0.000006,1,-0.000006,-0.000006,NaN,NaN,A67V,NaN,NaN,NaN,NaN
1,F,F,-0.147081,-0.148025,0.000814,0.000944,2,0.000814,0.000944,NaN,NaN,A67V,NaN,NaN,NaN,NaN
2,V,V,-0.231966,-0.231425,-0.000428,-0.000540,3,-0.000428,-0.000540,NaN,NaN,A67V,NaN,NaN,NaN,NaN
3,F,F,-0.094124,-0.097257,0.002847,0.003133,4,0.002847,0.003133,NaN,NaN,A67V,NaN,NaN,NaN,NaN
4,L,L,-0.023677,-0.023800,0.000120,0.000123,5,0.000120,0.000123,NaN,NaN,A67V,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38185,K,K,-0.109476,-0.109899,0.000379,0.000423,1269,0.000379,0.000423,NaN,NaN,L981F,NaN,NaN,NaN,NaN
38186,L,L,-0.521582,-0.523057,0.000875,0.001475,1270,0.000875,0.001475,NaN,NaN,L981F,NaN,NaN,NaN,NaN
38187,H,H,-0.850460,-0.850260,-0.000086,-0.000200,1271,-0.000086,-0.000200,NaN,NaN,L981F,NaN,NaN,NaN,NaN
38188,Y,Y,-0.697745,-0.698370,0.000311,0.000625,1272,0.000311,0.000625,NaN,NaN,L981F,NaN,NaN,NaN,NaN
38189,T,T,-0.664141,-0.664477,0.000173,0.000336,1273,0.000173,0.000336,NaN,NaN,L981F,NaN,NaN,NaN,NaN

# Epistasis Benchmark

In [29]:
innocenti = pd.read_csv('13059_2024_3355_MOESM1_ESM.csv')
innocenti = innocenti[['mi','outlier','gene_source','feature_codon_source','feature_codon_target','interaction']]
innocenti = innocenti[(innocenti.gene_source == 'S') & (innocenti.interaction == 'same gene')]
innocenti['feature_codon_source'] = innocenti.feature_codon_source.astype(int)
innocenti['feature_codon_target'] = innocenti.feature_codon_target.astype(int)
innocenti

,mi,outlier,gene_source,feature_codon_source,feature_codon_target,interaction
2,0.76507,4,S,498,505,same gene
3,0.76507,4,S,505,498,same gene
4,0.75812,4,S,371,373,same gene
5,0.75812,4,S,373,371,same gene
6,0.75142,4,S,373,375,same gene
...,...,...,...,...,...,...
445,0.07498,1,S,105,94,same gene
458,0.07240,1,S,147,152,same gene
459,0.07240,1,S,152,147,same gene
462,0.06935,1,S,64,72,same gene
463,0.06935,1,S,72,64,same gene

In [30]:
epi_data['source_position'] = epi_data.mutation.str[1:-1].astype(int)

In [ ]:
experimental = pd.read_csv('2ndorder_structure_summaryACE2.csv')
experimental['source'] = experimental.labels.str.split(',',expand=True)[0].astype(int)
experimental['target'] = experimental.labels.str.split(',',expand=True)[1].astype(int)
experimental = experimental[['source','target','epistasis','labels','distance']]

experimental_2 = experimental.copy()
experimental_2.columns = ['target','source','epistasis','labels','distance']

experimental = pd.merge(experimental,innocenti,left_on=['source','target'],right_on=['feature_codon_source','feature_codon_target'],how='left')
experimental_2 = pd.merge(experimental_2,innocenti,left_on=['source','target'],right_on=['feature_codon_source','feature_codon_target'],how='left')
experimental = pd.concat([experimental,experimental_2])

experimental =pd.merge(experimental,epi_data,left_on=['source','target'],right_on=['source_position','position'],how='left')
experimental

,source,target,epistasis,labels,distance,mi,outlier,gene_source,feature_codon_source,feature_codon_target,...,masked_change,masked_ratio,significant_masked_change_local,significant_masked_ratio_local,mutation,significant_masked_change,significant_masked_ratio,significant_masked_change_rounded,single_significant_masked_change,source_position
0,339,371,-0.041241,"339,371",14.712770,NaN,NaN,NaN,NaN,NaN,...,0.013080,0.021636,NaN,NaN,G339D,0.013080,NaN,0.0131,0.013080,339
1,339,373,-0.091723,"339,373",15.246395,0.70945,4.0,S,339.0,373.0,...,-0.007161,-0.010816,NaN,NaN,G339D,NaN,NaN,NaN,-0.007161,339
2,339,375,-0.115879,"339,375",17.113760,NaN,NaN,NaN,NaN,NaN,...,0.000964,0.001704,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
3,339,417,0.022633,"339,417",29.214363,NaN,NaN,NaN,NaN,NaN,...,-0.003897,-0.006587,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
4,339,440,-0.032938,"339,440",19.256399,NaN,NaN,NaN,NaN,NaN,...,0.001301,0.002277,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,501,496,0.763664,"496,501",10.076168,NaN,NaN,NaN,NaN,NaN,...,0.016606,0.021720,0.016606,NaN,N501Y,0.016606,NaN,0.0166,0.016606,501
206,505,496,0.098517,"496,505",9.493456,NaN,NaN,NaN,NaN,NaN,...,-0.001205,-0.001558,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
207,501,498,0.425169,"498,501",5.799448,0.57932,4.0,S,501.0,498.0,...,0.006211,0.012066,NaN,NaN,N501Y,NaN,NaN,NaN,0.006211,501
208,505,498,0.514362,"498,505",7.349566,0.76507,4.0,S,505.0,498.0,...,0.000213,0.000411,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
209,505,501,0.657051,"501,505",5.971085,NaN,NaN,NaN,NaN,NaN,...,-0.002401,-0.003541,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505

In [32]:
experimental = experimental[['source','target','epistasis','mi','outlier','masked_change','significant_masked_change','single_significant_masked_change','labels']]
experimental['std_greater'] = abs(experimental.epistasis) > abs(experimental.epistasis).mean()+abs(experimental.epistasis).std()
experimental

/tmp/ipykernel_2318401/1752209013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  experimental['std_greater'] = abs(experimental.epistasis) > abs(experimental.epistasis).mean()+abs(experimental.epistasis).std()

,source,target,epistasis,mi,outlier,masked_change,significant_masked_change,single_significant_masked_change,labels,std_greater
0,339,371,-0.041241,NaN,NaN,0.013080,0.013080,0.013080,"339,371",False
1,339,373,-0.091723,0.70945,4.0,-0.007161,NaN,-0.007161,"339,373",False
2,339,375,-0.115879,NaN,NaN,0.000964,NaN,NaN,"339,375",False
3,339,417,0.022633,NaN,NaN,-0.003897,NaN,NaN,"339,417",False
4,339,440,-0.032938,NaN,NaN,0.001301,NaN,NaN,"339,440",False
...,...,...,...,...,...,...,...,...,...,...
205,501,496,0.763664,NaN,NaN,0.016606,0.016606,0.016606,"496,501",True
206,505,496,0.098517,NaN,NaN,-0.001205,NaN,NaN,"496,505",False
207,501,498,0.425169,0.57932,4.0,0.006211,NaN,0.006211,"498,501",True
208,505,498,0.514362,0.76507,4.0,0.000213,NaN,NaN,"498,505",True
209,505,501,0.657051,NaN,NaN,-0.002401,NaN,NaN,"501,505",True

In [33]:
import numpy as np
from sklearn.metrics import confusion_matrix, recall_score,f1_score

def sensitivity_specificity(y_true, y_score):
    y_pred = y_score
    y_true = np.asarray(y_true).astype(int)

    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()

    sensitivity = recall_score(y_true, y_pred)
    specificity = tn / (tn + fp) if (tn + fp) > 0 else np.nan
    f1 = f1_score(y_true, y_pred, pos_label=1)

    return { "sensitivity": sensitivity, "specificity": specificity,'f1':f1}

In [34]:
sensitivity_specificity(experimental.mi.isna(),experimental['std_greater'])

{'sensitivity': 0.11458333333333333,
 'specificity': np.float64(0.7777777777777778),
 'f1': 0.2018348623853211}

In [35]:
sensitivity_specificity(experimental.significant_masked_change.isna(),experimental['std_greater'])

{'sensitivity': 0.12041884816753927,
 'specificity': np.float64(0.8421052631578947),
 'f1': 0.2119815668202765}

# Statistical Test for Enrichment

In [36]:
epi_data

,source_sequence,target_sequence,source_logits,target_logits,change,ratio,position,masked_change,masked_ratio,significant_masked_change_local,significant_masked_ratio_local,mutation,significant_masked_change,significant_masked_ratio,significant_masked_change_rounded,single_significant_masked_change,source_position
0,M,M,-0.000460,-0.000454,-0.000006,-0.000006,1,-0.000006,-0.000006,NaN,NaN,A67V,NaN,NaN,NaN,NaN,67
1,F,F,-0.147081,-0.148025,0.000814,0.000944,2,0.000814,0.000944,NaN,NaN,A67V,NaN,NaN,NaN,NaN,67
2,V,V,-0.231966,-0.231425,-0.000428,-0.000540,3,-0.000428,-0.000540,NaN,NaN,A67V,NaN,NaN,NaN,NaN,67
3,F,F,-0.094124,-0.097257,0.002847,0.003133,4,0.002847,0.003133,NaN,NaN,A67V,NaN,NaN,NaN,NaN,67
4,L,L,-0.023677,-0.023800,0.000120,0.000123,5,0.000120,0.000123,NaN,NaN,A67V,NaN,NaN,NaN,NaN,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38185,K,K,-0.109476,-0.109899,0.000379,0.000423,1269,0.000379,0.000423,NaN,NaN,L981F,NaN,NaN,NaN,NaN,981
38186,L,L,-0.521582,-0.523057,0.000875,0.001475,1270,0.000875,0.001475,NaN,NaN,L981F,NaN,NaN,NaN,NaN,981
38187,H,H,-0.850460,-0.850260,-0.000086,-0.000200,1271,-0.000086,-0.000200,NaN,NaN,L981F,NaN,NaN,NaN,NaN,981
38188,Y,Y,-0.697745,-0.698370,0.000311,0.000625,1272,0.000311,0.000625,NaN,NaN,L981F,NaN,NaN,NaN,NaN,981
38189,T,T,-0.664141,-0.664477,0.000173,0.000336,1273,0.000173,0.000336,NaN,NaN,L981F,NaN,NaN,NaN,NaN,981

In [37]:
rbd_mutations = epi_data[(epi_data.mutation.str[1:-1].astype(int) >= 319) & (epi_data.mutation.str[1:-1].astype(int) <= 514) ]
rbd_mutations = rbd_mutations[rbd_mutations.masked_change.isna() == False]
rbd_mutations

,source_sequence,target_sequence,source_logits,target_logits,change,ratio,position,masked_change,masked_ratio,significant_masked_change_local,significant_masked_ratio_local,mutation,significant_masked_change,significant_masked_ratio,significant_masked_change_rounded,single_significant_masked_change,source_position
5092,M,M,-0.000460,-0.000447,-0.000013,-0.000013,1,-0.000013,-0.000013,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
5093,F,F,-0.147081,-0.148027,0.000817,0.000947,2,0.000817,0.000947,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
5094,V,V,-0.231966,-0.232799,0.000661,0.000833,3,0.000661,0.000833,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
5095,F,F,-0.094124,-0.094109,-0.000013,-0.000015,4,-0.000013,-0.000015,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
5096,L,L,-0.023677,-0.023420,-0.000252,-0.000258,5,-0.000252,-0.000258,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24182,K,K,-0.109476,-0.109732,0.000229,0.000256,1269,0.000229,0.000256,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
24183,L,L,-0.521582,-0.521028,-0.000329,-0.000554,1270,-0.000329,-0.000554,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
24184,H,H,-0.850460,-0.853603,0.001341,0.003143,1271,0.001341,0.003143,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
24185,Y,Y,-0.697745,-0.696140,-0.000800,-0.001605,1272,-0.000800,-0.001605,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505
24186,T,T,-0.664141,-0.663435,-0.000363,-0.000706,1273,-0.000363,-0.000706,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505

In [38]:
rbd_positions = rbd_mutations.mutation.str[1:-1].astype(int).unique()
rbd_positions

array([339, 371, 373, 375, 417, 440, 446, 477, 478, 484, 493, 496, 498,
       501, 505])

## Enrichment of RBD experimental results in detected interactions

In [39]:
rbd_mutations['in_experimental_set'] = [True if position in rbd_positions else False for position in rbd_mutations.position]

In [40]:
pvals = []

In [41]:
population_size = len(rbd_mutations)
n_successes_in_population = len(rbd_mutations[rbd_mutations.in_experimental_set == True])

n_samples = len(rbd_mutations[rbd_mutations.significant_masked_change.isna() == False])
n_successes = len(rbd_mutations[(rbd_mutations.significant_masked_change.isna() == False) & (rbd_mutations.in_experimental_set == True)])
population_size,n_successes_in_population,n_samples,n_successes

from scipy.stats import hypergeom
pval = hypergeom.sf(n_successes - 1, population_size, n_successes_in_population, n_samples)
# Expected number of successes
expected = n_samples * (n_successes_in_population / population_size)
# Enrichment (fold-change)
enrichment = (n_successes / n_samples) / (n_successes_in_population / population_size)

pvals.append(pval)
pval,enrichment

(np.float64(1.4629288539455463e-10), 6.434991974317816)

## Enrichment of high impact RBD experimental results in detected interactions

In [42]:
def check_significant(source,target,labels):
    if str(source)+','+str(target) in labels or str(target)+','+str(source) in labels:
        return True
    return False

In [43]:
high_impact_epistatic_interactions = experimental[experimental.std_greater == True].labels.unique()

In [44]:
rbd_mutations

,source_sequence,target_sequence,source_logits,target_logits,change,ratio,position,masked_change,masked_ratio,significant_masked_change_local,significant_masked_ratio_local,mutation,significant_masked_change,significant_masked_ratio,significant_masked_change_rounded,single_significant_masked_change,source_position,in_experimental_set
5092,M,M,-0.000460,-0.000447,-0.000013,-0.000013,1,-0.000013,-0.000013,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339,False
5093,F,F,-0.147081,-0.148027,0.000817,0.000947,2,0.000817,0.000947,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339,False
5094,V,V,-0.231966,-0.232799,0.000661,0.000833,3,0.000661,0.000833,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339,False
5095,F,F,-0.094124,-0.094109,-0.000013,-0.000015,4,-0.000013,-0.000015,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339,False
5096,L,L,-0.023677,-0.023420,-0.000252,-0.000258,5,-0.000252,-0.000258,NaN,NaN,G339D,NaN,NaN,NaN,NaN,339,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24182,K,K,-0.109476,-0.109732,0.000229,0.000256,1269,0.000229,0.000256,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505,False
24183,L,L,-0.521582,-0.521028,-0.000329,-0.000554,1270,-0.000329,-0.000554,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505,False
24184,H,H,-0.850460,-0.853603,0.001341,0.003143,1271,0.001341,0.003143,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505,False
24185,Y,Y,-0.697745,-0.696140,-0.000800,-0.001605,1272,-0.000800,-0.001605,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505,False
24186,T,T,-0.664141,-0.663435,-0.000363,-0.000706,1273,-0.000363,-0.000706,NaN,NaN,Y505H,NaN,NaN,NaN,NaN,505,False

In [45]:
rbd_mutations['std_greater'] = [ check_significant(row.source_position,row.position,high_impact_epistatic_interactions) for i,row in rbd_mutations.iterrows()]

In [46]:
population_size = len(rbd_mutations)
n_successes_in_population = len(rbd_mutations[rbd_mutations.std_greater == True])

n_samples = len(rbd_mutations[rbd_mutations.significant_masked_change.isna() == False])
n_successes = len(rbd_mutations[(rbd_mutations.significant_masked_change.isna() == False) & (rbd_mutations.std_greater == True)])
population_size,n_successes_in_population,n_samples,n_successes

from scipy.stats import hypergeom
pval = hypergeom.sf(n_successes - 1, population_size, n_successes_in_population, n_samples)
# Expected number of successes
expected = n_samples * (n_successes_in_population / population_size)
# Enrichment (fold-change)
enrichment = (n_successes / n_samples) / (n_successes_in_population / population_size)

pvals.append(pval)
pval,enrichment

(np.float64(0.005625658517307828), 8.206568712186689)

## Enrichment of Spike mutation-mutation results in detected interactions

In [47]:
mutation_positions = epi_data.mutation.str[1:-1].astype(int).unique()
mutation_positions

array([ 67,  95, 142, 212, 339, 371, 373, 375, 417, 440, 446, 477, 478,
       484, 493, 496, 498, 501, 505, 547, 614, 655, 679, 681, 764, 796,
       856, 954, 969, 981])

In [48]:
spike_data = epi_data[epi_data.masked_change.isna() == False]

In [49]:
spike_data['mutation_site'] = [True if position in mutation_positions else False for position in spike_data.position]

/tmp/ipykernel_2318401/4044654150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spike_data['mutation_site'] = [True if position in mutation_positions else False for position in spike_data.position]

In [50]:
population_size = len(spike_data)
n_successes_in_population = len(spike_data[spike_data.mutation_site == True])

n_samples = len(spike_data[spike_data.significant_masked_change.isna() == False])
n_successes = len(spike_data[(spike_data.significant_masked_change.isna() == False) & (spike_data.mutation_site == True)])
population_size,n_successes_in_population,n_samples,n_successes

from scipy.stats import hypergeom
pval = hypergeom.sf(n_successes - 1, population_size, n_successes_in_population, n_samples)
# Expected number of successes
expected = n_samples * (n_successes_in_population / population_size)
# Enrichment (fold-change)
enrichment = (n_successes / n_samples) / (n_successes_in_population / population_size)

pvals.append(pval)
pval,enrichment

(np.float64(0.016870390758590505), 1.604478006019961)

In [51]:
pvals

[np.float64(1.4629288539455463e-10),
 np.float64(0.005625658517307828),
 np.float64(0.016870390758590505)]

In [52]:
from scipy.stats import false_discovery_control
p_adj_bh = false_discovery_control(pvals, method="bh")
significant_indices = np.where(p_adj_bh < 0.05)[0]
significant_indices,p_adj_bh

(array([0, 1, 2]), array([4.38878656e-10, 8.43848778e-03, 1.68703908e-02]))